*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
}
/* General CSS */









/*Navigation Bar Section*/
.navigation-Section{
    padding: 15px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    margin-bottom: 20px;
}
#schoolName{
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 20px;
}
ul li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
}
ul li a{
    text-decoration: none;
    color: #000000;
}
.rightNavigationLinks{
    display: inline-block;
    margin-left: 600px;
    font-size: 1.1rem;
}
.rightNavigationLinks > li{
    margin-right: 25px;
}
.linkButton{
    background-color: #EC4067;
    color: #fff;
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 1.1rem;
}

/* Explore Section */
.explore-Section{
    margin-top: 150px;
    border: 1px solid red;
    padding-bottom: 70px;
}
.twoColumnSection{
    display: flex;
    flex-direction: row;
}
.exploreSectionLeftContent{
    flex-basis: 60%;
    border: 1px solid blue;
    align-self: center;
}
.exploreSectionLeftContent > *{  /*Target all the child elements of that div*/
    border: 1px solid;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 40px;
}
.exploreSectionRightContent{
    flex-basis: 40%;
}
.fourColumnSection{
    display: flex;
    flex-direction: row;
}